* {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	font-size: 12px;
	font-weight: 400;
}

:root {
	--white: #ffffff;
	--black: #263238;
	--grey-dark: #e8e7e7;
	--grey: #f4f3f3;
	--grey-light: #fafafa;
	--navy: #1a5984;
	--blue: #2c95dc;
	--blue-light: #80bfea;
	--brown: #8e3c1e;
	--orange: #ec6432;
	--peach: #f6b299;
	--peach-light: #ffd8be;
}

a {
	text-decoration: none;
}
hr {
	width: 50%;
	margin: 0 auto;
	border: 2px solid var(--grey-dark);
}
.text-blue {
	color: var(--blue);
}
.container {
	margin: auto !important;
	max-width: 1440px !important;
	padding: 0 7%;
}
.highlight {
	color: var(--orange);
}
.btn-orange {
	color: var(--grey-light);
	background: var(--orange);
}
.btn-orange:hover {
	color: var(--orange);
	background: var(--white);
}
.btn-white:hover {
	border: 2px solid var(--peach-light);
}
.border-orange {
	border: 2px solid var(--peach-light);
}
.pe-7 {
	padding-right: 60px !important;
}
.text-primary {
	color: var(--blue) !important;
}
.heading {
	font-weight: 800;
}
.heading-2 {
	font-weight: 700;
}

/* Navbar */
.navbar-brand img {
	max-width: 80%;
}
.nav-link {
	color: var(--black) !important;
	padding: 0 !important;
	font-size: 1.3em;
	font-weight: 700;
}
ul a:hover {
	color: #000;
}
.underline > a:after {
	content: '';
	display: block;
	height: 2px;
	background: var(--orange);
	transform: scaleX(0);
	transition: transform 0.3s;
}
.underline > a:hover:after {
	transform: scaleX(1);
	transition: transform 0.3s;
}
.active {
	border-bottom: 3px solid var(--orange);
}
li > .active:after {
	display: none;
}

/* Hero */
#hero {
	margin-top: 90px;
	margin-bottom: 120px;
}
.p-heading {
	font-size: 1.2rem;
	font-weight: 400;
}
.btn-head {
	padding: 0;
	width: 200px;
	height: 47px;
	margin: 0 auto;
	display: inline-block;
	line-height: 45px;
	text-align: center;
	font-weight: 600;
}
.play-icon {
	position: relative;
	top: -2px;
	left: -1px;
}

/* We here */
#we-here {
	margin-top: 80px;
	margin-bottom: 100px;
}
.p-content {
	font-size: 1rem;
}

/* Supporting Partner */
#support {
	margin-top: 80px;
	margin-bottom: 100px;
}

/* Special */
#special {
	margin-top: 90px;
	margin-bottom: 120px;
}
.card {
	box-shadow: 0px 20px 16px -14px rgba(0, 0, 0, 0.25) !important;
	width: 250px;
	height: 250px;
	margin: 30px 0;
	transition: 0.3s;
}
.card:hover {
	box-shadow: 0px 30px 16px -14px rgba(0, 0, 0, 0.18) !important;
	transform: translateY(-10px);
}
.bg-orange {
	background-color: var(--orange);
	color: var(--white);
}
.bg-white-orange {
	background-color: var(--white);
	color: var(--orange);
}
.bg-white-blue {
	background-color: var(--white);
	color: var(--blue);
}
.bg-blue {
	background-color: var(--blue);
	color: var(--white);
}
.card-title {
	font-size: 20px;
	font-weight: 700;
}
.card-text {
	font-size: 14px;
	font-weight: 300;
	margin-top: 10px;
}
.card-img {
	width: 40px;
}

/* Step */
#steps {
	margin-top: 90px;
	margin-bottom: 120px;
}
.step-line {
	margin: 30px 0 50px 0;
}
.step-heading {
	font-weight: 600;
}
.step-text {
	font-size: 1rem;
	font-weight: 500;
}

/* Download */
.download-now {
	padding: 100px 0;
}
.download-now .download-wrapper {
	background-color: var(--orange);
	border-radius: 40px;
	/* height: 250px; */
}

.phone-mockup {
	position: relative !important;
	padding-top: 1rem;
}

.phone-mockup img {
	position: absolute;
	width: 120%;
	bottom: 0;
}

.btn-download {
	width: 154px;
	height: 45.5px;
	background-size: cover;
	background-position: center;
}
.pstore {
	background-image: url(../images/googleplay.png);
}
.appstore {
	background-image: url(../images/appstore.png);
}
