* {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	font-size: 12px;
	font-weight: 400;
}

:root {
	--white: #ffffff;
	--black: #263238;
	--grey-dark: #e8e7e7;
	--grey: #f4f3f3;
	--grey-light: #fafafa;
	--navy: #1a5984;
	--blue: #2c95dc;
	--blue-light: #80bfea;
	--brown: #8e3c1e;
	--orange: #ec6432;
	--peach: #f6b299;
	--peach-light: #ffd8be;
}

a {
	text-decoration: none;
}
hr {
	width: 50%;
	margin: 0 auto;
	border: 2px solid var(--grey-dark);
}
.text-blue {
	color: var(--blue);
}
.container {
	margin: auto !important;
	max-width: 1200px !important;
	padding: 0 7%;
}
.highlight {
	color: var(--orange);
}
.btn-orange {
	color: var(--grey-light);
	background: var(--orange);
}
.btn-orange:hover {
	color: var(--orange);
	background: var(--white);
}
.btn-white:hover {
	border: 2px solid var(--peach-light);
}
.border-orange {
	border: 2px solid var(--peach-light);
}
.pe-7 {
	padding-right: 60px !important;
}
.text-primary {
	color: var(--blue) !important;
}
.heading {
	font-weight: 700;
}
.heading-2 {
	font-weight: 700;
}

/* Navbar */
.navbar {
	padding: 12px 0;
}
.navbar-brand img {
	max-width: 70%;
}
.nav-link {
	color: var(--black);
	padding: 0 !important;
	font-size: 1.3em;
	font-weight: 700;
}
.navbar ul a:hover {
	color: var(--black);
}
.underline > a:after {
	content: '';
	display: block;
	height: 2px;
	background: var(--orange);
	transform: scaleX(0);
	transition: transform 0.3s;
}
.underline > a:hover:after {
	transform: scaleX(1);
	transition: transform 0.3s;
}
.active {
	border-bottom: 3px solid var(--orange);
}
li > .active:after {
	display: none;
}
.navbar .dropdown-menu {
	/* background-color: #8e3c1e; */
	border: none;		
	font-family: 'Nunito', sans-serif;
	font-size: 1.3em;
	font-weight: 700;
}


/* Hero */
#hero {
	background-color: var(--grey-light);
	padding: 145px 0;
}
#hero .container-hero-heading {
	padding: 20px;
	/* max-width: 1000vh; */
	/* background-color: #54841a; */
}
#hero h1 {
	font-size: 39px;
	/* letter-spacing: 1px; */
}
#hero .hero-img img{
	/* padding-top: 10px; */
	width: 120%;
}
.p-heading {
	font-size: 1.2rem;
	font-weight: 400;
	margin-top: 40px;
}
#hero .container-btn-head {
	margin-top: 50px;
}
.btn-head {
	padding: 0;
	width: 200px;
	height: 47px;
	margin: 0 0 0 -17px;
	display: inline-block;
	line-height: 45px;
	text-align: center;
	font-weight: 600;
}
.btn-play {
	padding: 0;
	width: 200px;
	height: 47px;
	margin: 0 auto;
	display: inline-block;
	line-height: 45px;
	text-align: center;
	font-weight: 600;
	margin-left: 40px;
}
.play-icon {
	position: relative;
	top: -2px;
	left: -1px;
}

/* We here */
#we-here {
	margin-top: 80px;
	margin-bottom: 100px;
}
.p-content {
	font-size: 1rem;
}
.img-wesupport{
	width: 85%;

}

/* Supporting Partner */
#support {
	margin-top: 80px;
	margin-bottom: 100px;
}

/* Special */
#special {
	margin-top: 90px;
	margin-bottom: 120px;
}
.special-card {
	box-shadow: 0px 20px 16px -14px rgba(0, 0, 0, 0.25) !important;
	width: 250px;
	height: 250px;
	margin: 30px 0;
	transition: 0.3s;
}
.special-card:hover {
	transform: translateY(-16px) !important;
}
.bg-orange {
	background-color: var(--orange);
	color: var(--white);
}
.bg-white-orange {
	background-color: var(--white);
	color: var(--orange);
}
.bg-white-blue {
	background-color: var(--white);
	color: var(--blue);
}
.bg-blue {
	background-color: var(--blue);
	color: var(--white);
}
.card-title {
	font-size: 20px;
	font-weight: 700;
}
.card-text {
	font-size: 14px;
	font-weight: 300;
	margin-top: 10px;
}
.card-img {
	width: 40px;
}

/* Step */
#our-teams .row-card {
	margin-bottom: 50px;
}
#steps {
	margin-top: 90px;
	margin-bottom: 120px;
}
.step-line {
	margin: 30px 0 50px 0;
}
.step-heading {
	font-weight: 600;
}
.step-text {
	font-size: 1rem;
	font-weight: 500;
}

/* Our Teams */
.teams-heading {
	margin-top: 5px;
	font-family: 'Inter', sans-serif;
	font-weight: 900;
	letter-spacing: 2px;
	font-size: 80px;
	line-height: 75px;
}
.card-teams {
	position: relative;
	width: 215px;
	height: 250px;
	border: none;
}
/* front */
.img-teams {
	width: 100%;
	height: 100%;
	object-fit: fill;
	position: relative;
}
#img-fay {
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(34, 34, 34, 0) 40%, rgba(0, 0, 0, 0.879) 90%),
		url('../images/fay.png') no-repeat center / cover;
	background-position: center;
	background-size: cover;
	transition: 0.5s;
}
#img-erland {
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(34, 34, 34, 0) 40%, rgba(0, 0, 0, 0.879) 90%),
		url('../images/erland.png') no-repeat center / cover;
	background-position: center;
	background-size: cover;
	transition: 0.5s;
}
#img-ian {
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(34, 34, 34, 0) 40%, rgba(0, 0, 0, 0.879) 90%),
		url('../images/ian.png') no-repeat center / cover;
	background-position: center;
	background-size: cover;
	transition: 0.5s;
}
#img-ivan {
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(34, 34, 34, 0) 40%, rgba(0, 0, 0, 0.879) 90%),
		url('../images/ivan.png') no-repeat center / cover;
	background-position: center;
	background-size: cover;
	transition: 0.5s;
}
#img-dita {
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(34, 34, 34, 0) 40%, rgba(0, 0, 0, 0.879) 90%),
		url('../images/dita.png') no-repeat center / cover;
	background-position: center;
	background-size: cover;
	transition: 0.5s;
}
#img-sila {
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(34, 34, 34, 0) 40%, rgba(0, 0, 0, 0.879) 90%),
		url('../images/sila.png') no-repeat center / cover;
	background-position: center;
	background-size: cover;
	transition: 0.5s;
}
#img-bili {
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(34, 34, 34, 0) 40%, rgba(0, 0, 0, 0.879) 90%),
		url('../images/billy.png') no-repeat center / cover;
	background-position: center;
	background-size: cover;
	transition: 0.5s;
}
#img-tia {
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(34, 34, 34, 0) 40%, rgba(0, 0, 0, 0.879) 90%),
		url('../images/artia.png ') no-repeat center / cover;
	background-position: center;
	background-size: cover;
	transition: 0.5s;
}
#img-faisal {
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(34, 34, 34, 0) 40%, rgba(0, 0, 0, 0.879) 90%),
		url('../images/faisal.png') no-repeat center / cover;
	background-position: center;
	background-size: cover;
	transition: 0.5s;
}
.body-teams {
	position: absolute;
	bottom: 0;
	color: white;
	width: 100%;
	padding: 10px 16px;
}
.name-card {
	font-size: 17px;
	margin-bottom: 0;
	line-height: 18px;
	text-transform: capitalize;
}
.position-card {
	padding-top: 10px;
	font-weight: 600;
	font-size: 12px;
	text-transform: capitalize;
}
.btn-teams {
	width: 20px;
	height: 20px;
	margin: auto 0;
}
.btn-teams i {
	margin: auto;
	font-size: 16px;
	vertical-align: top;
	transition: 0.3s;
}
.btn-teams:hover i {
	transform: translateX(2px);
}
/* back flip card*/
.back {
	background-color: var(--orange);
}
.content-card-teams {
	padding: 10px;
	color: #fff;
}
.container-card-back {
	padding: 5px 15px 10px;
}
.unflip {
	border: none;
	background: none;
	color: #fff;
}
.unflip i {
	font-size: 20px;
	transition: 0.3s;
}
.unflip:hover i {
	animation: rotation 1.2s infinite linear;
}
.name-card-back {
	font-size: 18px;
	font-weight: 700; 
	text-transform: capitalize;
}
.position-back-teams {
	font-size: 14px;
	font-weight: 300;
	text-transform: capitalize;
}
.sosmed-icon-teams a i {
	font-size: 24px;
	color: #fff;
	transition: 0.3s;
}
.sosmed-icon-teams a:hover i {
	transform: scale(1.2);
}
.line-card-teams {
	border: 0.5px solid #fff;
	background: #fff;
	width: 15%;
	opacity: 1;
}
.quote {
	font-style: italic;
	margin-top: 10px;
	font-size: 12px;
	font-weight: 300;
}

/* Download */
#download-now {
	padding: 200px 0 100px;
}
#download-now .download-wrapper {
	background-color: var(--orange);
	border-radius: 40px;
	/* height: 250px; */
}

.phone-mockup {
	position: relative !important;
	padding-top: 1rem;
}

.phone-mockup img {
	position: absolute;
	width: 120%;
	bottom: 0;
}

#download-now .text-app h2{
	color: var(--white);
	margin-bottom: 30px;
	padding-right: 40px;

}
.btn-download {
	width: 154px;
	height: 45.5px;
	background-size: cover;
	background-position: center;
}
.pstore {
	background-image: url(../images/googleplay.png);
}
.appstore {
	background-image: url(../images/appstore.png);
	display: none;
}

/* Footer */
footer {
	background: #113853;
	font-size: 1.1em;
}
.img-footer {
	filter: brightness(0) invert(1);
	max-width: 160px;
}
.content-footer {
	color: #fff;
	font-weight: 300;
}
.icon-footer a i {
	border: 1px solid var(--grey);
	border-radius: 50%;
	padding: 5px;
	color: #fff !important;
	font-size: 20px;
}
.icon-footer a:hover i {
	animation: rotation 1.2s infinite linear;
}
.text-href {
	color: var(--grey);
}
.text-href:hover {
	color: var(--grey-dark);
}
.light-blue {
	color: #addeff;
}
.bx {
	font-size: 18px;
}

/* Rotation Animation */
@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

/* Responsive */
@media (max-width: 576px) { 
	.heading {
		font-weight: 650;
	}
	/* Navbar */
	.navbar-brand img {
		max-width: 60%;
	}
	.nav-link {
		color: var(--black);
		/* padding: 0 !important; */
		font-size: 1.1em;
		font-weight: 700;
		/* background-color: #daecf8; */
		align-items: center;
	}
	.navbar ul a:hover {
		color: var(--orange);
	}
	.underline > a:after {
		display: none;
		background: none;
		transform: none;
		transition: none;
	}
	.underline > a:hover:after {
		transform: none;
		transition: none;
	}
	.active {
		border-bottom: none;
	}
	li > .active:after {
		display: none;
	}
	
	.navbar .dropdown-menu {
		/* background-color: #8e3c1e; */
		border: none;
		border-radius: none;
		font-family: 'Nunito', sans-serif;
		font-size: 12px;
		font-weight: 400;
	}

	.navbar .navbarDropdownMenuLink {
		background-color: none;
	}
	
	/* Hero */
	#hero {
		display: grid;
		padding: 70px 0 0;
	}
	#hero .container-hero{
		padding-top: 30px;
		flex-direction: column;
	}
	#hero .container-hero-heading {
		padding: 1px 30px 30px;
		/* max-width: 1000vh; */
		/* background-color: #54841a; */
	}
	#hero .hero-text {
		order: 2;
		/* max-width: 900vh; */
		/* background-color: #b0df75; */
	}
	#hero .hero-img {
		/* padding-left: 25px; */
		/* background-color: #113853; */
		order: 1;
		display: flex;
		justify-content: center;
		/* align-items: center; */
		margin-bottom: 20px;
	}
	#hero .hero-img img{
		width: 85%;
	}
	#hero h1 {
		font-size: 28px;
		text-align: center;
		/* letter-spacing: 1px; */
	}
	.p-heading {
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		margin-top: 10px;
	}
	#hero .container-btn-head{
		/* background-color: #1a5984; */
		margin-top: 25px;
		/* padding: 0 auto; */
		/* display: flex;
		justify-content: center; */
	}
	/* #hero .container-btn-head .btn{
		display: flex;
		justify-content: center;
	} */
	.btn-head {
		padding: 0;
		width: 150px;
		height: 47px;
		margin: 0;
		display: inline-block;
		line-height: 45px;
		font-weight: 600;
	}
	#hero .btn-play span{
		display: none;
	}
	#hero .btn-play {
		margin-left: 10px;
		/* padding: 0; */
		width: 65px;
		/* background-color: #1a5984; */
		height: 47px;
		/* margin: 40px; */
		/* display: inline-flex; */
		/* display: inline-block;
		align-self: center;
		justify-content: center; */
		/* line-height: 45px;
		text-align: center;
		font-weight: 600; */
	}
	#hero .btn-play img {
		width: 26px;
		/* display: inline-block;
		align-self: center;
		justify-content: center; */
		position: relative;
		top: 8px;
		left: 18px;
		/* background-color: #1a5984; */
		/* display: flex;
		align-items: center; */
	}
	.play-icon {
		/* left: 1px; */
	}

	/* We here and support */
	.img-wesupport{
		display: block;
  		margin-left: auto;
  		margin-right: auto;
		width: 60%;
	}
	.p-content mt-4{
		width: 50%;
	}
	.kecil{
		padding: 8%;
	}

	/* special */
	.half{
		width: 100%;
	}
	.hilang{
		display: none;
		grid-template-columns: 0;
	}
	.ukuran{
		width: 50%;
	}

	/* Our teams */
	.teams-heading {
		margin-top: 5px;
		text-align: center;
		font-family: 'Inter', sans-serif;
		font-weight: 700;
		/* letter-spacing: 2px; */
		font-size: 60px;
		line-height: 55px;
		margin-bottom: 15px;
	}
	.card-teams {
		position: relative;
		width: 215px;
		height: 250px;
		border: none;
		margin-bottom: 20px;
	}

	/* Step */
	#our-teams .row-card {
		margin-bottom: 2px;
	}
	#steps {
		margin-top: 90px;
		margin-bottom: 120px;
	}
	.card-teams {
		position: relative;
		width: 215px;
		height: 250px;
		border: none;
	}

	/* download-now */
	#download-now {
		padding: 30px 0 ;
	}
	#download-now .download-wrapper {
		background-color: var(--orange);
		border-radius: 20px;
		/* height: 250px; */
	}
	#download-now .phone-mockup{
		display: none;
	}
	#download-now .text-app h2{
		font-size: 25px;
		padding-right: 0;
		margin-bottom: 20px;

	}
	#download-now .text-app{
		text-align: center;
	}
	#download-now .text-app span {
		display: block;
	}
}